.component {
  font-size: 18px;
}

.label {
  padding-right: 20px;
  font-weight: bold;
}

.textbox {
  color: gray;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  border: solid 1px gray;
  width: 300px;
  padding: 3px 5px;
  font-family: mono;
}

.green {
  color: green;
}
